<div class="problemContainer">
    <div>
        <button (click)="goBack()" class="back">Back</button>
        <h1>Problems</h1>
        <div class="tokenContainer">
            @if (!accessToken) {
              <input [(ngModel)]="tokenInput" placeholder="Token"/>&nbsp;
              <button (click)="setToken()">Set Token</button>
            } @else {
              <p>Token: {{ accessToken }}
                <button (click)="clearToken()">Clear</button>
              </p>
            }
        </div>
        <div class="title">Create Problem Widget</div>
        <div>
            @if (!problemId) {
              <input [(ngModel)]="problemIdInput" placeholder="Problem ID"/>&nbsp;
              <button (click)="setProblemId()">Set Problem ID</button>
            } @else {
              <p>Problem ID: {{ problemId }}
                <button (click)="clearProblemId()">Clear</button>
              </p>
            }
        </div>
        @if (message !== ''){
            <div>
                <div class="response">Response:</div>
                <div><button (click)="clear(0)">Clear response</button></div>
            </div>
            <div class="messageContainer"><br/>{{ message }}</div>
        }
        <br/><button (click)="testProblems()" [disabled]="!accessToken">Test Problems API</button><br/><br/>

        <div class="title">Get Problem Submission</div>
        @if (getMessage !== ''){
            <div>
                <div class="response">Response:</div>
                <div><button (click)="clear(1)">Clear response</button></div>
            </div>
            <div class="messageContainer"><br/>{{ getMessage }}</div>
        }
        <input [(ngModel)]="submissionId" placeholder="Submission ID"/>&nbsp;<button (click)="getSubmission()" [disabled]="!accessToken">Get Submission</button>

        <div class="title">Create Problem Submission</div>
        @if (createMessage !== ''){
            <div>
                <div class="response">Response:</div>
                <div><button (click)="clear(2)">Clear response</button></div>
            </div>
            <div class="messageContainer"><br/>{{ createMessage }}</div>
        }
        <div class="create-row">
            <div>
                <input [(ngModel)]="problemSubmissionId" placeholder="problem id..." />
            </div>
            <div>
                <input [(ngModel)]="compilerId" placeholder="compiler id..." />
            </div>
            <div>
                <input [(ngModel)]="source" placeholder="source code..." />
            </div>
            <button type="submit" (click)="createSubmission()" [disabled]="!accessToken || source === '' || compilerId === '' || problemSubmissionId === ''">Create Submission</button>
        </div>
    </div>
    <div class="row">
        @if (loading && !problemId) {
          <div>Loading...</div>
        }
        @if(problemId) {
            <div class="se-widget" data-id="example-widget" [attr.data-widget]="problemId"></div>
        }
      </div>
</div>